.frontpage-slider {
  padding: 0;
  background: #474747;
  /* Old browsers */
  background: -moz-linear-gradient(left, #474747 0%, #a0a0a0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #474747 0%, #a0a0a0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #474747 0%, #a0a0a0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#a0a0a0',GradientType=1 );
  /* IE6-9 */
}

@media (max-width: 991px) {
  .frontpage-slider .container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.owl-slider-header .item {
  height: 300px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.owl-slider-header .item > .container {
  position: relative;
}

.owl-slider-header .item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 38, 57, 0.3);
}

.owl-slider-header .item .box {
  position: absolute;
  width: 100%;
  color: #fff;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 99;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.owl-slider-header .item .box.box-bottom {
  top: 90%;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.owl-slider-header .item .desc {
  display: none;
  text-shadow: 0 0 10px #000;
}

.owl-slider-header .item .title {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-transform: none;
}

.owl-slider-header .item .title span {
  color: #ceb071;
}

.owl-slider-header .item .btn {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .owl-slider-header .item {
    height: 740px;
  }
  .owl-slider-header .item .desc {
    display: block;
    font-size: 16px;
  }
  .owl-slider-header .item .title {
    font-size: 46px;
    text-transform: uppercase;
  }
  .owl-slider-header .item .btn {
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  .owl-slider-header .item {
    height: 700px;
  }
  .owl-slider-header .item .desc {
    font-size: 18px;
  }
  .owl-slider-header .item .title {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .owl-slider-header .item .btn {
    display: none;
  }
}

.owl-slider-header .owl-controls .owl-buttons div span {
  color: white;
}

.owl-slider-header .owl-controls .owl-buttons .owl-next {
  right: 10px;
}

.owl-slider-header .owl-controls .owl-buttons .owl-prev {
  left: 10px;
}

@media (min-width: 992px) {
  .owl-slider-header .owl-controls .owl-buttons .owl-next {
    right: 50px;
  }
  .owl-slider-header .owl-controls .owl-buttons .owl-prev {
    left: 50px;
  }
}

.owl-slider-header .owl-controls .owl-page span {
  background: white;
}
