footer {
  padding: 40px 0;
  background-color: #002639;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

footer .footer-left,
footer .footer-right {
  text-align: center;
}

@media (min-width: 768px) {
  footer .footer-left {
    text-align: left;
  }
  footer .footer-right {
    text-align: right;
  }
}

footer .footer-social .icons {
  margin-top: 40px;
  text-align: center;
}

footer .footer-social .icons ul {
  margin: 0;
  padding: 0;
}

footer .footer-social .icons ul > li {
  list-style-type: none;
  display: inline-block;
}

footer .footer-social .icons ul > li > a {
  padding: 5px;
}

footer .footer-social .copyright {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
